@import "./color_scheme";

body {
    background: #f7f3e3;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
    display: grid;
    grid-template-rows: 10% 89%;
    grid-template-columns: 36% 63%;
    grid-template-areas:
        "head head"
        "form entry";
    height: 100%;
    width: 100%;
    background: $light;
    color: $dark;
    justify-content: center;
    grid-gap: 1em;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

#headline {
    grid-area: head;
    background: $primary;
    color: $light;
    text-align: center;
    font-size: 4rem;
    border-radius: 2rem;
    border-bottom: 5px solid $secondary;
}

#destination-form {
    grid-area: form;
    border-radius: 2rem;
}

#startButton {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px solid $primary;
    display: block;
    width: 100%;
    height: 100px;
    background: $secondary;
    color: $dark;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 1rem;
    border-radius: 2rem;

    &:hover {
        background: $secondary-light;
        border-bottom: 10px solid $primary-dark;
    }
}

#entry {
    grid-area: entry;
    background: $primary;
    color: $light;
    border-radius: 2rem;
}

#entryHolder {
    display: grid;
    grid-template-rows: 50% auto;
    grid-template-areas:
        "pic pic pic"
        "info weather start";
    width: 90%;
    margin: 0 auto;
    justify-items: center;
    border-radius: 2rem;
}

#entryImage {
    grid-area: pic;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        display: block;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 600px;
        margin-bottom: 0.5rem;
    }
}

#entryInfo {
    grid-area: info;
    background: $secondary-light;
    border-radius: 1rem;
    width: 90%;
    text-align: center;
}

#entryWeather {
    grid-area: weather;
    background: $secondary;
    border-radius: 1rem;
    width: 90%;
    text-align: center;
}

#entryStartDate {
    grid-area: start;
    background: $secondary-dark;
    border-radius: 1rem;
    width: 90%;
    vertical-align: middle;
    text-align: center;
}

/*  Basic Styling To Override Default For Basic HTML Elements */

label {
    display: block;
    font-size: 1.5rem;
}

input {
    display: block;
    height: 60px;
    width: 100%;
    background: $light;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px dotted $secondary;
    background-color: mix($secondary, $light, 8%);
    color: $dark;
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;

    &:hover {
        background-color: mix($secondary, $light, 15%);
    }
}

h1 {
    font-size: 2rem;
}

textarea {
    width: 100%;
    height: 150px;
    background: $light;
    border: 3px dotted $secondary;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

/* Reset style for HTML element on active to have no border*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/

::placeholder {
    /* Firefox, Chrome, Opera */
    color: $light;
    font-family: 'Roboto', sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $light;
    font-family: 'Roboto', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $light;
    font-family: 'Roboto', sans-serif;
}

@media (pointer: coarse) {
    html {
        font-size: 2rem;
    }

    #app {
        grid-template-rows: 15% 25% auto;
        grid-template-columns: 100%;
        grid-template-areas:
            "head"
            "form"
            "entry";
    }

    #entryHolder {
        display: grid;
        grid-template-rows: 40% 30% 30%;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "pic pic"
            "info weather"
            "info start";
    }
}
